@use '../../base';

.about {
    width: 100vw;
    min-height: 700px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    
        img {
            width: 25rem;
            border-radius: 5px;
            z-index: 10;
            transition: all .3s;
        }
    
        img:hover {
            box-shadow: 0 0 20px 0px black;
        }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2, h3 {
            text-shadow: 0 0 10px base.$secondary-color;
        }

        h2, h3, button {
            position: relative;
            animation: slide-in 2s ease-in-out forwards;
            transition: all 0.3s;
        }
    
        h2 {
            font-size: 4rem;
            margin: 4rem 0;
            color: base.$primary-color;
        }
    
        h2:hover, h3:hover, button:hover {
            transform: rotate(1deg);
        }
    
        h3 {
            font-size: 2.5rem;
            color: base.$primary-color;
        }
    
        button {
            font-size: 1.5rem;
            text-transform: lowercase;
        }
    
        @keyframes slide-in {
            0% {
                left: -100px;
                opacity: 0;}
    
            75% {
                opacity: 0.2;
            }
    
            100% {
                left: 0px;
                opacity: 1;}
        }
    }
}

@media screen and (max-width: 576px) {
    .about {

        img {
            width: 15rem;
        }

        .text {
            h2 {
                font-size: 2.5rem;
                margin: 2rem 0;
            }

            h3 {
                font-size: 1.5rem;
            }

        }
    }
}
@media screen and (max-width:1010px) {
    .about {

        .text {
            h2 {
                font-size: 2.5rem;
                margin: 2rem 0;
            }

            h3 {
                font-size: 1.5rem;
            }

        }
    }
}