<div class="container about">
    <img src="../../assets/images/csonkasanyi1.jpg" alt="">
    <div class="text">
        <h3>Csonka Sándor vagyok</h3>
        <h1>frontend fejlesztő</h1>
        <button (click)="scrollTo('contact')">Kapcsolat</button>
    </div>
    
    <!-- <h1>Bemutatkozás</h1>
    
    <p class="strong">Csonka Sándor vagyok</p>
    <p>41 éves, nős, 2 fiú édesapja</p>
    <p>2003-ban diplomáztam Szegeden, a Juhász Gyula Tanárképző Főiskolán matematika-számítástechnika szakos tanárként.</p>
    <h2>Juhász Gyula Református Gimnázium, Technikum és Szakképző Iskola</h2>
    <p>2015-től: oktatástechnikus</p>
    <h2>József Attila Városi Könyvtár és Múzeum</h2>
    <p>2003. július 1. - 2015. szeptember 30.: rendszergazda</p>
    <p>A diploma megszerzését követően 12 éven keresztül a makói József Attila Városi KÖnyvtár és Múzeum rendszergazdája voltam.</p>
    <p>Feladataim rendkívül széles skálán mozogtak:</p>
    <ul>
        <li>hálózat üzemneltetés
            <ul>
                <li>szerverek telepítése, adminisztrálása (kezdetben Windows, majd Debain Linux)</li>
                <li>munkaállomások telepítése, karbantartása</li>
                <li>hálózat építése, bővítése</li>
            </ul>
        </li>
        <li>internet tanfolyamok szervezése, lebonyolítása</li>
        <li>honlapok készítése, működtetése
            <ul>
                <li>gyermek részleg számára</li>
                <li>múzeum számára</li>
            </ul>
        </li>
        <li>nyomtatók, vonalkódolvasók telepítése</li>
    </ul> -->
</div>

