@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
  scroll-behavior: smooth;
}
* body {
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
* body .container {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2.5rem;
  width: 100vw;
}
* body .container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(0, 85, 85);
}
* body .container h2 {
  text-align: center;
  margin: 1.25rem 0;
}
* body .container .strong {
  font-weight: bold;
  margin-bottom: 1.25rem;
}
* body .container p, * body .container li {
  line-height: 1.5;
}
* body .container ul {
  padding-left: 2.5rem;
}
* body button {
  color: rgb(127, 255, 212);
  background-color: rgb(0, 85, 85);
  padding: 0.625rem;
  border: none;
  border-radius: 0.32rem;
  transition: all 0.3s;
  cursor: pointer;
}
* body button:hover {
  background-color: rgb(127, 255, 212);
  color: rgb(0, 85, 85);
}