<div class="container">
    <h1>Tech stack</h1>
    <h3>...amit használni szoktam</h3>
    <div class="stacks">
        <div class="htmlContainer stack">
            <fa-icon [icon]="faHtml5"></fa-icon>
            html5
        </div>
        <div class="cssContainer stack">
            <fa-icon [icon]="faCss3"></fa-icon>
            css3
        </div>
        <div class="bootstrapContainer stack">
            <fa-icon [icon]="faBootstrap"></fa-icon>
            bootstrap5
        </div>
        <div class="javascriptContainer stack">
            <fa-icon [icon]="faJavascript"></fa-icon>
            JavaScript
        </div>
        <div class="reactContainer stack">
            <fa-icon [icon]="faReact"></fa-icon>
            React
        </div>
        <div class="angularContainer stack">
            <fa-icon [icon]="faAngular"></fa-icon>
            Angular
        </div>
        <div class="firebaseContainer stack">
            Firebase
        </div>
        <div class="githubContainer stack">
            <fa-icon [icon]="faGithub"></fa-icon>
            GitHub
        </div>

    </div>
</div>
