@use '../../base';

h1 {
    font-size: 3rem;
}

h3 {
    text-align: center;
    color: base.$primary-color;
    margin-top: -1rem;
    margin-bottom: 4rem;
}

.stacks {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    flex-wrap: wrap;

    .stack {
        height: 12.5rem;
        width: 18.75rem;
        font-size: 3rem;
        background-color: base.$secondary-color;
        color: base.$primary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.32rem;
        transition: all .3s;

        transform: rotate(0);

        fa-icon {
            margin-bottom: 1.25rem;
        }
    }

    .stack:hover {
        transform: scale(1.04);
    }
}