<!-- <nav>
  <a routerLink="/about">Bemutatkozás</a>
  <a routerLink="/stack">Tech stack</a>
  <a routerLink="/works">Munkáim</a>
  <a routerLink="/contact">Kapcsolat</a>
</nav> -->
<div class="top"></div>
<app-nav></app-nav>
<div class="bgimg-1">
  <app-about id="aboutComponent"></app-about>
</div>
<app-stack id="stackComponent"></app-stack>
<div class="bgimg-2"></div>
<app-works id="worksComponent"></app-works>
<div class="bgimg-4">
  <app-contact id="contactComponent"></app-contact>
</div>
<fa-icon [icon]="faSquareUp" (click)="scrollTo('top')" id="topButton"></fa-icon>
<router-outlet></router-outlet>