@use 'base';

/* You can add global styles to this file, and also import other style files */
$breakpoints: (
    'small': 600px,
    'large': 1200px) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

body {
        // kis felbontás esetén
    @include respond-to('small') {
    }
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    scroll-behavior: smooth;

    body {
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;

        .container {
            background-color: rgba(255, 255, 255, 0.4);
            padding: 40px;
            width: 100vw;

            h1 {
                font-size: 3rem;
                margin-bottom: 2rem;
                text-align: center;
                color: base.$primary-color;
            }

            h2 {
                text-align: center;
                margin: 20px 0;
            }

            .strong {
                font-weight: bold;
                margin-bottom: 20px;
            }

            p, li {
                line-height: 1.5;
            }

            ul {
                padding-left: 40px;
            }

        }

        button {
            color: base.$secondary-color;
            background-color: base.$primary-color;
            padding: 10px;
            border: none;
            border-radius: 5px;
            transition: all .3s;
            cursor: pointer;
        }

        button:hover {
            background-color: base.$secondary-color;
            color: base.$primary-color;
        }
}
}
