<div class="container works">
  <h1>Munkáim</h1>
  <div class="cards">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/images/works/carservice.jpg" alt="Autó szervíz">
        </div>
        <div class="flip-card-back">
          <h1>Kisvárosi Autószervíz</h1>
          <p>Bemutatkozó oldal egy kitalált szervíz számára</p>
          <p class="bold">HTML, CSS, Bootstrap használatával készült, reszponzívan</p>
          <p><a href="https://carservice.csonkasanyi.hu">Honlap</a></p>
          <p><a href="https://github.com/csonkasanyi/carservice">Github</a></p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/images/works/lego.jpg" alt="Legó nyilvántartó">
        </div>
        <div class="flip-card-back">
          <h1>Lego nyilvántartó webalkalmazás</h1>
          <p>Az oldal a családunkban megtalálható Legókat tartja nyilván.</p>
          <p>Új tétel vehető fel, a meglévők módosíthatók, törölhetők!</p>
          <p class="bold">HTML, CSS, React, Material UI, Firestore felhasználásával készült</p>
          <p><a href="https://lego.csonkasanyi.hu">Honlap</a></p>
          <p><a href="https://github.com/csonkasanyi/lego-project">Github</a></p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../../assets/images/works/eber.jpg" alt="Érettségizőket Beléptető Egységesített Rendszer - ÉBER"
          class="blured">
        </div>
        <div class="flip-card-back">
          <h1>Érettségizőket Beléptető Egységesített Rendszer - ÉBER</h1>
          <p>Írásbeli érettségik alkalmával a vizsgázók beléptetését segítő webalkalmazás.</p>
          <p>Lehetőség van tanulókat szűrni osztály és tanterem szerint, új vizsgázókat felvenni, meglévőket módosítani.
          </p>
          <p class="bold">HTML, CSS, React, Material UI felhasználásával készült</p>
          <p class="bold">Az app átdolgozása Angular keretrendszerben folyamatban van!</p>
          <p><a href="https://github.com/csonkasanyi/belepteto">Github</a></p>
        </div>
      </div>
    </div>
  </div>
</div>